client/client/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/lib_wfc" />
  <xs:element name="GetActions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="GetActionsResult" nillable="true" type="q1:ArrayOfAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="GetServicesResult" nillable="true" type="q2:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_client" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="GetPersonResult" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_order" type="xs:int" />
        <xs:element minOccurs="0" name="id_client" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="GetOrderResult" nillable="true" type="q4:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="order" nillable="true" type="q5:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_client" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q6:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Autorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="AutorizationResult" nillable="true" type="q7:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="order" nillable="true" type="q8:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderPriceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_order" type="xs:int" />
        <xs:element minOccurs="0" name="id_client" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="order" nillable="true" type="q9:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_client" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/lib_wfc" minOccurs="0" name="person" nillable="true" type="q10:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>